body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    padding:0;
    margin:0;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    color: #f9faf8;
    padding: 12px;
    padding-right: 48px;
    padding-left: 32px;
    align-items: center;
}

.logo {
    height: 85px;
}
a {
    text-decoration: none;
    color: #e5e7eb;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 24px;
}

.top-section {
    display: flex;
    gap: 200px;
    background-color: #1f2937;
    color: #f9faf8;
    padding: 100px 48px;
    justify-content: center;
}

.hero h1{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    margin-bottom: 8px;
}
.hero p{
    margin-top: 0;
    font-size: 18px;
    color: #e5e7eb;
}
.top-section img {
    height: 300px;
    border-radius: 12px;
}

.product-section {
    display:flex;
    flex-direction: column;
    gap: 24px;
    padding: 32px
}

.product-section h2 {
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 36px;
    color: #1f2937;
}
.product-images {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.product-image {
    text-align: center;
}

.product-image img {
    height: 200px;
    border-radius: 12px;
}
.quote-section {
    background-color: #e5e7eb;
    color: #1f2937;
    padding: 24px;
    display: flex;
    flex-direction: column;
    padding: 32px;
    gap: 20px;
}
.quote-section .quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    align-self: center;
    text-align: center;
    max-width: 450px;
}
.quote-section p {
    font-size: 16px;
    font-weight: bold;
    align-self: flex-end;
    margin-right: 390px;
}

.ad-section {
    display: flex;
    margin: 56px 128px;
    background-color: #3882f6;
    color: #f9faf8;
    padding: 12px 72px;
    justify-content: space-between;
    border-radius: 8px;
}

.ad-section .ad-text {
    display: flex;
    flex-direction: column;
    gap:0px;
    justify-content: center ;
}
.ad-section .ad-line-1{
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 0;
    padding:0
}
.ad-section .ad-line-2{
    font-size: 16px;
    font-weight: 500;
    margin-top: 0;
    padding:0;
}
.ad-section button{
    align-self: center;
    background-color: #3882f6;
    border-radius: 8px;
    color: #f9faf8;
    border-color: #f9faf8;
    border-width: 2px;
    border-style: solid;
    padding: 8px 24px;
}

.footer {
    background-color: #1f2937;
    color: #f9faf8;
    text-align: center;
    padding: 24px;

}